In [11]:
# print 0 to 20 by using range
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
# print range 10 to 20
for temp in range(10,20):
    print(temp)

10
11
12
13
14
15
16
17
18
19

In [29]:
# Print number of items in the list by using 'len'
my_lists=[10, 20, 14, 55, 43, 87, 76]
print("Number of items in the list2: ",len(my_lists))

Number of items in the list2:  7

In [37]:
word="Artificial Intelligence"
for letter in word:
    print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [39]:
Name = input("Enter Name :")
Age = int(input("Enter Age :"))
Profession = input("Enter Profession :")

print("Your Name",Name)
print("Your Age",Age)
print("Your Profession",Profession)

Enter Name : Priya
Enter Age : 35
Enter Profession : AI Developer

Your Name Priya
Your Age 35
Your Profession AI Developer

In [41]:
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [43]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python', 'HOPE')
Tuple3=(Tuple1, Tuple2)
print("\nTuple with nested Tuples: ")
print(Tuple3)

Tuple with nested Tuples:
((0, 1, 2, 3), ('python', 'HOPE'))

In [59]:
my_list=(20,10,16,19,25,1,276,188)
for number in my_list:
    if number % 2 ==1:
        print(number,"is odd")

19 is odd
25 is odd
1 is odd

In [61]:
my_list=(20,10,16,19,25,1,276,188)
for number in my_list:
    if number % 2 == 0:
        print(number,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even